@mixin for-size($size) {
    @if $size ==phone {
        @media (max-width: 767px) {
            @content;
        }
    }

    @else if $size ==tablet {
        @media (min-width: 768px) {
            @content;
        }
    }

    @else if $size ==desktop {
        @media (min-width: 1200px) {
            @content;
        }
    }
}

@mixin font($fs, $fw, $lh, $ls) {
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
    letter-spacing: $ls;
}

@mixin retina {
    @media (min-device-pixel-ratio: 2), 
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        @content;
    }
}