// Font family
$main-font: 'DM Sans', sans-serif;
$second-font: 'Titan One', cursive;

// Color project

// Color mocup
$color-footer: #FFF5F6;
$color-mobile-menu: #E17992;
$color-social: #FEA5BB;

$color-cafe: #F0D1A5;
$color-truck: #C2E297;

//Color text
$color-primary: #FFB8CA;
$color-secondary: #FFA5BA;
$color-contact: #907E82;

$color-hover: #D41443;

//Color button
$color-button: #ECEBEB;
$color-slider: #D9D9D9;
$color-reviews: #FAFAFA;

$color-border: #E1E1E1;

//Color classic
$color-black: #000;
$color-white: #FFF; 
