// Font family
$main-font: 'DM Sans', sans-serif;
$second-font: 'Titan One', cursive;

// Color project

// Color mocup
$color-footer: #fff5f6;
$color-mobile-menu: #e17992;
$color-social: #fea5bb;

$color-cafe: #f0d1a5;
$color-truck: #c2e297;

//Color text
$color-primary: #ffb8ca;
$color-secondary: #ffa5ba;
$color-contact: #907e82;

$color-hover: #d41443;

//Color button
$color-button: #ecebeb;
$color-slider: #d9d9d9;

$color-border: #e1e1e1;

//Color classic
$color-black: #000;
$color-white: #fff;
