.about{
    position: relative;
    padding-left: 15px;
    padding-right: 15px;

    margin-left: auto;
    margin-right: auto;
    background-color: $color-footer;

    @media screen and (min-width: 320px) {
        min-width: 320px;
        width: 100%;
        height: 925px;
        padding-top: 60px;
        padding-bottom: 40px;
        padding-left: 20px;
        padding-right: 20px;
        .about-big-header{
            position: relative;
            font-size: 34px;
            line-height: (39/34);
            letter-spacing: 0.04em;
            margin-bottom: 32px;
        }
        .about-header{
            font-size: 18px;
            line-height: (21/18);
            letter-spacing: 0.04em;
            margin-bottom: 15px;
        }
        .bold-text{
            width: 220px;
            font-size: 12px;
            line-height: 1.62;
            text-align: left;
            margin-bottom: 40px;
        }
        .text{
            justify-content: center;
            width: 220px;
            font-size: 12px;
            line-height: 1.62;
            text-align: left;
        }
        .about-img{
            display:inline-block;
            justify-content: center;
            margin-bottom: 30px;
        }
        .about-pic-milk{
            position: absolute;
            margin-top: 111px;
        }
    }

    @media screen and (min-width: 768px) {
        width: 768px;
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}

.about-header{
    font-family: 'Titan One';
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: $color-secondary;
}

.about-big-header{
    font-family: 'Titan One';
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: $color-hover;
}

.bold-text{
    font-weight: 500;
    color: $color-black;
}

.text{
    font-weight: 500;
    color: $color-contact;
}

.about-button{
    cursor: pointer;
    width: 176px;
    height: 44px;
    left: 20px;
    top: 3432px;
    border: transparent;
    background: $color-white;
    border-radius: 22px;
    padding: 0;
    margin-top: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: (18/14);
    display: flex;
    align-items: center;
    text-align: center;
    color: $color-hover;
    padding-left: 37px;
    }

    .button-svg{
        margin-left: 14px;
    }



