.advantages__section {
    background-color: $color-footer;
}
.advatages__list {
    padding-top: 40px;
    padding-bottom: 60px;
}
.advantages__card {
    margin-bottom: 25px;
}
.advantages__card-title {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: $color-hover;

    max-width: 98px;

    margin-bottom: 4px;
}
.card-title-1::before {
    content: "";
    display: block;
    width: 33px;
    height: 50px;
    margin-bottom: 16px;
    background-image: url("/src/images/svg/advantages/logo-1.png");
    
}
.card-title-2::before {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    margin-bottom: 16px;
    background-image: url("/src/images/svg/advantages/logo-2.png");
}
.card-title-3::before {
    content: "";
    display: block;
    width: 45.5px;
    height: 50px;
    margin-bottom: 16px;
    background-image: url("/src/images/svg/advantages/logo-3.png");
}

.advantages__card-text {

    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 170%;

    max-width: 230px;
}
