.contacts {
  padding-top: 60px;
}

.contacts__item {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacts__card {
  @media screen and (min-width: 768px) {
    width: calc((100% - 1 * 16px) / 3);
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 0;
    max-width: 224px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 368px;
  }

  background-color: $color-white;
  margin-bottom: 20px;
  height: auto;
  border-radius: 24px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
}
.contacts__card--item {
  padding-top: 24px;
}

.contacts__block {
  border-bottom: 1px solid #e1e1e1;
  border-top: 1px solid #e1e1e1;
  padding-bottom: 24px;
}
.card__content {
  @media screen and (min-width: 1200px) {
    padding-left: 40px;
    padding-right: 40px;
  }
  padding-top: 40px;
  padding-right: 32px;
  padding-bottom: 40px;
  padding-left: 32px;
}
.contacts__header {
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $color-white;
  background-color: $color-cafe;
  width: 80px;
  height: 18px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.contacts__header--item {
  background-color: $color-truck;
  width: 130px;
}
.contacts__city {
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.64;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.81;
  }
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  color: $color-black;
  margin-bottom: 8px;
}
.contacts__text {
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.64;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.81;
  }
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: $color-contact;
  padding-bottom: 24px;
}
.contacts__week {
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.64;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.81;
  }
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  color: $color-black;
}
.contacts__time {
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.64;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.81;
  }
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  color: $color-secondary;
}
.contacts__tel {
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.64;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.81;
  }
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: $color-contact;
}
.contacts__mail {
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.64;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.81;
  }
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: $color-contact;
}
.contacts__tel:hover,
.contacts__mail:hover,
.contacts__tel:focus,
.contacts__mail:focus {
  color: $color-hover;
  @extend %animation;
}
.contacts__btn {
  @media screen and (min-width: 768px) {
    justify-content: center;
    flex-direction: row;
    margin-top: 60px;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 12px;
}
.contacts__btn--item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 22px;

  background-color: $color-white;
  margin-bottom: 10px;
  
  @media screen and (max-width: 767px) {
    width: 164px;
  }
}

.contacts__btn--link {
  font-family: $main-font;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;

  color: $color-hover;
  padding: 0 17px;
  height: 44px;
  border-radius: 22px;

  @media screen and (min-width: 768px) {
      padding: 0 35px;
    }

  @extend %displayFlexCenter;
}

.contacts__btn--passive-hover {
  background-color: $color-hover;

  & > a {
    color: $color-white;
  }
}

.contacts__btn--active-hover:active, 
.contacts__btn--active-hover:hover, 
.contacts__btn--active-hover:focus {
  background-color: $color-button;
  @extend %animation;
}



.contacts__btn--item:not(:last-child) {
  margin-right: 15px;

  @media screen and (max-width: 767px) {
    margin-right: 0;
  }
}

.contacts__svg {
  margin-left: 8px;
  fill: currentColor;
  stroke: currentColor;

  @media screen and (min-width: 768px) {
    margin-left: 12px;
  }
}


