.reviews {
  padding-bottom: 60px;
}

.slider {  
  position: relative;
  margin: auto;
  min-height: 300px; 
  margin: auto;
}

.reviews-item {
  display: none;
}

.slider-dots {
  text-align: center;
}

.slider-dots_item {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: $color-slider;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.slider-dots_item:hover {
  background-color: $color-hover;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
  
}

.reviews-item_foto {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.reviews-item_text {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.reviews-item_text--container {
  background-color: $color-reviews;
  padding: 32px 72px;
}

.reviews-item_text-desc:first-child::before {
  content: "";
  margin-top: auto; 
  justify-content: center;
  text-align: center;
  width: 46px;
  height: 34px;
  background-size: contain;
  display: inline-block;
  background-image: url(../images/reviews/“.png);
}


.reviews-item_text-desc { 
  border-bottom: 1px solid $color-border;
  justify-content: center;
  text-align: center;
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.9;
  }

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 2.2;
  }
  font-weight: 500;
  font-size: 12px;
  line-height: 2.7;
  letter-spacing: 0.04em;
}

.reviews-item_author--container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}


.reviews-item--dot {
  content: "";
  width: 32px;
  height: 4px;
  text-align: center;
  background-size: contain;
  display: inline-block;
  background-image: url(../images/reviews/ellipse.png), url(../images/reviews/ellipse.png), url(../images/reviews/ellipse.png);
  background-size: 4px, 4px, 4px;
  background-repeat: no-repeat;
  background-position: top 0 right 0, top 0 left 0, top 0 center;
  margin-bottom: 16px;
}

.reviews-item_author { 
  font-weight: 500;
  font-size: 16px;
  line-height: 1.86;
  text-align: center;
  letter-spacing: 0.04em;
}
