<section class="about" id="about">
  <div class="container-img__pic-2">
    <picture class="container-img__milk">
      <source
        media="(min-width: 320px)"
        srcset="
          ./images/about/milk-mob-x1.png 1x,
          ./images/about/milk-mob-x2.png 2x
        "
        type="images/png"
      />
      <source
        media="(min-width: 1200px)"
        srcset="./images/about/milk-x1.png 1x, ./images/about/milk-x2.png 2x"
        type="images/png"
      />
      <img
        src="./images/about/milk-x2.png"
        alt=""
        class="container-img__milk-img"
        loading="lazy"
      />
    </picture>
  </div>
  <div class="container-center">
    <div class="about-section">
      <a class="about-section__logo link" href="">tradition and love</a>
      <h1 class="about-section__header">how it’s made?</h1>
      <div class="about-content">
        <div class="container-img">
          <div class="container-img__pic-1">
            <picture class="container-img__cow">
              <source
                media="(min-width: 320px)"
                srcset="
                  ./images/about/cow-mob-x1.png 1x,
                  ./images/about/cow-mob-x2.png 2x
                "
                type="images/png+jpg"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/about/cow-tab-x1.png 1x,
                  ./images/about/cow-tab-x2.png 2x
                "
                type="images/png+jpg"
              />
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./images/about/cow-x1.png 1x,
                  ./images/about/cow-x2.png 2x
                "
                type="images/png+jpg"
              />
              <img
                src="./images/about/cow-x1.png"
                alt="cow"
                class="container-img__cow-img"
              />
            </picture>
          </div>
        </div>
        <div class="container-text">
          <p class="container-text__bold">
            Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel
            justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend
            erat at justo fringilla.
          </p>
          <p class="container-text__normal">
            Curabitur lacinia enim at ex blandit, vel pellentesque odio
            elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum
            euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras
            massa nibh, tincidunt.<br /><br />Aliquam erat volutpat. Aenean
            accumsan.
          </p>
          <button type="button" class="about-button">
            Read more
            <svg class="about-button__svg" width="6" height="10">
              <use href="./images/svg/project-sprite.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
