<section class="advantages" id="advantages">
  <div class="container-center">
    <h2 class="visually-hidden">Our advantagies</h2>
    <div class="advatages__container">
      <ul class="advatages__list">
        <li class="advantages__card">
          <p class="advantages__card-title card-title-1">721</p>
          <p class="advantages__card-text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>
        <li class="advantages__card">
          <p class="advantages__card-title card-title-2">16kg</p>
          <p class="advantages__card-text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>
        <li class="advantages__card">
          <p class="advantages__card-title card-title-3">84</p>
          <p class="advantages__card-text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
