<section class="contacts" id="contacts">
  <h2 class="visually-hidden">contact</h2>
  <div class="container-center">
    <ul class="contacts__item">
      <li class="contacts__card">
        <div class="card__content">
          <p class="contacts__header">cafe</p>
          <div class="contacts__block--first">
            <p class="contacts__city">Chicago</p>
            <p class="contacts__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </div>
          <ul class="contacts__block">
            <li class="contacts__card--item">
              <p class="contacts__week">Monday - Friday</p>
              <p class="contacts__time">06:00 AM - 10:00 PM</p>
            </li>
            <li>
              <p class="contacts__week">Saturday - Sunday</p>
              <p class="contacts__time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <ul>
            <li class="contacts__card--item">
              <a class="contacts__tel link" href="tel:+610383766284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li>
              <a class="contacts__mail link" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
      <li class="contacts__card">
        <div class="card__content">
          <p class="contacts__header contacts__header--item">foodtruck</p>
          <div class="contacts__block--first">
            <p class="contacts__city">Los Angeles</p>
            <p class="contacts__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </div>
          <ul class="contacts__block">
            <li class="contacts__card--item">
              <p class="contacts__week">Monday - Friday</p>
              <p class="contacts__time">06:00 AM - 10:00 PM</p>
            </li>
            <li>
              <p class="contacts__week">Saturday - Sunday</p>
              <p class="contacts__time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <ul>
            <li class="contacts__card--item">
              <a class="contacts__tel link" href="tel:+610383766284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li>
              <a class="contacts__mail link" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
      <li class="contacts__card">
        <div class="card__content">
          <p class="contacts__header">cafe</p>
          <div class="contacts__block--first">
            <p class="contacts__city">New York</p>
            <p class="contacts__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </div>
          <ul class="contacts__block">
            <li class="contacts__card--item">
              <p class="contacts__week">Monday - Friday</p>
              <p class="contacts__time">06:00 AM - 10:00 PM</p>
            </li>
            <li>
              <p class="contacts__week">Saturday - Sunday</p>
              <p class="contacts__time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <ul>
            <li class="contacts__card--item">
              <a class="contacts__tel link" href="tel:+610383766284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li>
              <a class="contacts__mail link" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <div>
      <ul class="contacts__btn">
        <li class="contacts__btn--item contacts__btn--passive-hover">
          <a href="" class="contacts__btn--link link"
            >Our Locations
            <svg class="contacts__svg" width="8" height="10">
              <use
                href="./images/svg/project-sprite.svg#arrow-button"
              ></use></svg
          ></a>
        </li>
        <li class="contacts__btn--item contacts__btn--active-hover">
          <a href="" class="contacts__btn--link link"
            >Franchise
            <svg class="contacts__svg" width="8" height="10">
              <use
                href="./images/svg/project-sprite.svg#arrow-button"
              ></use></svg
          ></a>
        </li>
      </ul>
    </div>
  </div>
</section>
