<section class="section">
  <ul class="contacts">
    <li class="contacts__card">
      <p class="contacts__header">cafe</p>
      <p class="contacts__city">Chicago</p>
      <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      <ul>
        <li class="contacts__card">
          <p class="contacts__week">Monday - Friday</p>
          <p class="contacts__time">06:00 AM - 10:00 PM</p>
        </li>
        <li class="contacts__card">
          <p class="contacts__week">Saturday - Sunday</p>
          <p class="contacts__time">08:00 AM - 16:00 PM</p>
        </li>
      </ul>
      <ul>
        <li class="contacts__card">
          <a class="contacts__tel" href="">+61(0) 383 766 284</a>
        </li>
        <li class="contacts__card">  
          <a class="contacts__mail" href="">noreply@envato.com</a>
        </li>
      </ul>
    </li>
    <li class="contacts__card">
      <p class="contacts__header">food truck</p>
      <p class="contacts__city">Los Angeles</p>
      <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
    </li>
    <ul>
        <li class="contacts__card">
          <p class="contacts__week">Monday - Friday</p>
          <p class="contacts__time">06:00 AM - 10:00 PM</p>
        </li>
        <li class="contacts__card">
          <p class="contacts__week">Saturday - Sunday</p>
          <p class="contacts__time">08:00 AM - 16:00 PM</p>
        </li>
      </ul>
      <ul>
        <li class="contacts__card">
          <a class="contacts__tel" href="">+61(0) 383 766 284</a>
        </li>
        <li class="contacts__card"> 
          <a class="contacts__mail" href="">noreply@envato.com</a>
        </li>
      </ul>
    <li class="contacts__card">
      <p class="contacts__header">cafe</p>
      <p class="contacts__city">New York</p>
      <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
    </li>
    <ul>
        <li class="contacts__card">
          <p class="contacts__week">Monday - Friday</p>
          <p class="contacts__time">06:00 AM - 10:00 PM</p>
        </li>
        <li class="contacts__card">
          <p class="contacts__week">Saturday - Sunday</p>
          <p class="contacts__time">08:00 AM - 16:00 PM</p>
        </li>
      </ul>
      <ul>
        <li class="contacts__card">
          <a class="contacts__tel" href="">+61(0) 383 766 284</a>
        </li>
        <li class="contacts__card"> 
          <a class="contacts__mail" href="">noreply@envato.com</a>
        </li>
      </ul>
  </ul>
  <ul>
    <li><a href=""></a>Our Locations</li>
    <li><a href=""></a>Franchise</li>
  </ul>
</section>
