<section class="reviews-container">
    <div class="reviews">
        <div class="mySlides reviews-item fade">
            <div class="numbertext">1 / 3</div>
            <img class="reviews-item_img" src="./images/custom-reviews/testimonials1.jpg" alt="happy girl">
            <p class="reviews-item_text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
            <b class="reviews-item_author">Emily, Los Angeles</b>
        </div>
        <div class="mySlides reviews-item fade">
            <div class="numbertext">2 / 3</div>
            <img class="reviews-item_img" src="./images/custom-reviews/testimonials3.jpg" alt="happy girl">
            <p class="reviews-item_text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
            <b class="reviews-item_author">Monica, New York</b>
        </div>
        <div class="mySlides reviews-item fade">
            <div class="numbertext">3 / 3</div>
            <img class="reviews-item_img" src="./images/custom-reviews/testimonials4.jpg" alt="happy girl">
            <p class="reviews-item_text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
            <b class="reviews-item_author">Julia, Texas</b>
        </div>
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
      </div>
 
</section>