<section class="reviews">
  <div class="container-cennter slider">
    <div class="reviews-item fade">
      <img
        class="reviews-item_foto"
        src="./images/reviews/slide1.jpg"
        alt="happy girl"
      />
      <div class="reviews-item_text">
        <div class="reviews-item_text--container">
          <p class="reviews-item_text-desc">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit
          </p>
          <p class="reviews-item_text-desc">
            nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel
            risus.
          </p>
        </div>
      </div>
      <div class="reviews-item_author--container">
        <span class="reviews-item--dot"> </span>
        <p class="reviews-item_author">Emily, Los Angeles</p>
      </div>
    </div>
    <div class="reviews-item fade">
      <img
        class="reviews-item_foto"
        src="./images/reviews/slide2.jpg"
        alt="happy girl"
      />
      <div class="reviews-item_text">
        <div class="reviews-item_text--container">
          <p class="reviews-item_text-desc">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit
          </p>
          <p class="reviews-item_text-desc">
            nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel
            risus.
          </p>
        </div>
      </div>
      <div class="reviews-item_author--container">
        <span class="reviews-item--dot"> </span>
        <p class="reviews-item_author">Monica, New York</p>
      </div>
    </div>
    <div class="reviews-item fade">
      <img
        class="reviews-item_foto"
        src="./images/reviews/slide3.jpg"
        alt="happy girl"
      />
      <div class="reviews-item_text">
        <div class="reviews-item_text--container">
          <p class="reviews-item_text-desc">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit
          </p>
          <p class="reviews-item_text-desc">
            nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel
            risus.
          </p>
        </div>
      </div>
      <div class="reviews-item_author--container">
        <span class="reviews-item--dot"> </span>
        <p class="reviews-item_author">Julia, Texas</p>
      </div>
    </div>
  </div>

  <div class="slider-dots">
    <span class="slider-dots_item" onclick="currentSlide(1)"></span>
    <span class="slider-dots_item" onclick="currentSlide(2)"></span>
    <span class="slider-dots_item" onclick="currentSlide(3)"></span>
  </div>
</section>
