<section class="reviews-container">
 <div class="slider">
    <div class="reviews-item">
        <img class="reviews-item_foto" src="./images/reviews/slide1.jpg" alt="happy girl">
        <div class="reviews-item_text">            
            <p class="reviews-item_text-desc">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p></div>
        
            <p class="reviews-item_author">Emily, Los Angeles</p>
    </div>
    <div class="reviews-item">
        <img class="reviews-item_foto" src="./images/reviews/slide2.jpg" alt="happy girl">
        <div class="reviews-item_text">
            <svg width="32" hight="43">
                <use class="reviews-item_icon" href="./images/svg/header-sprite.svg#icon-sign"></use>
            </svg>
            <p class="reviews-item_text-desc">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p></div>
        
            <p class="reviews-item_author">Monica, New York</p>
    </div>
    <div class="reviews-item">
        <img class="reviews-item_foto" src="./images/reviews/slide3.jpg" alt="happy girl">
        <div class="reviews-item_text"> 
            <svg width="32" hight="43">
                <use class="reviews-item_icon" herff="../images/svg/header-sprite.svg#icon-sign"></use>
            </svg>
            <p class="reviews-item_text-desc">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p></div>
        
            <p class="reviews-item_author">Julia, Texas</p>
    </div>

    <a class="prev" onclick="minusSlide()">&#10094</a>
    <a class="next" onclick="plusSlide()">&#10095</a>
 </div>

 <div class="slider-dots">
    <span class="slider-dots_item" onclick="currentSlide(1)"></span>
    <span class="slider-dots_item" onclick="currentSlide(2)"></span>
    <span class="slider-dots_item" onclick="currentSlide(3)"></span>
 </div>
</section>