<footer class="footer">
  <div class="container-center">
    <div class="footer__flex">
      <div class="footer__title">
        <h2 class="footer__title-text">
          homemade ice cream made
        </h2>
        <p class="text-accent">with passion</p>

      </div>

      <div class="footer__social-contacts">
        <div class="footer__socials">
          <ul class="footer__socials-list list">
            <li class="footer__socials-item">
              <a href="" class="footer__socials-link link"> </a>
              <svg class="footer__socials-icon" width="34" height="34">
                <use href="./images/svg/footer-sprite.svg#icon-github-1"></use>
              </svg>
            </li>
            <li class="footer__socials-item">
              <a href="" class="footer__socials-link link"> </a>
              <svg class="footer__socials-icon" width="34" height="34">
                <use
                  href="./images/svg/footer-sprite.svg#icon-telegram-1"
                ></use>
              </svg>
            </li>
            <li class="footer__socials-item">
              <a href="" class="footer__socials-link link"> </a>
              <svg class="footer__socials-icon" width="34" height="34">
                <use
                  href="./images/svg/footer-sprite.svg#icon-facebook-1"
                ></use>
              </svg>
            </li>
          </ul>
        </div>
        <div class="footer__contacts">
          <p class="footer__contacts-text">Feel free to contact</p>
          <a class="footer__contacts-tel link" href="tel:+61(0)383766284"
            >+61 (0) 383 766 284</a
          >
        </div>
      </div>
    </div>
      <div class="footer__bottom">
        <h2 class="footer__bottom-copy">&copy; 2022 - IceCream.</h2>
        <p class="footer__bottom-all">
           All Rights Reserved.
        </p>
      </div>
    </div>
  </div>
</footer>
