<footer class="footer">
  <div class="container">
    <div class="footer__buttons">
      <button class="footer__button-one pointer" type="button">
        Our Locations
      </button>
      <button class="footer__button-two pointer" type="button">
        Franchise
      </button>
    </div>

    <div class="footer__title">
      <h1 class="footer__title-text">
        homemade ice cream made <span class="text-accent">with passion</span>
      </h1>
    </div>

    <div class="footer__social-contacts">
      <div class="footer__socials">
        <ul class="footer__socials-list list">
          <li class="footer__socials-item">
            <a href="" class="footer__socials-link link">
              <svg class="footer__socials-icon" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-git"></use>
              </svg>
            </a>
          </li>
          <li class="footer__socials-item">
            <a href="" class="footer__socials-link link">
              <svg class="footer__socials-icon" width="20.4" height="15.87">
                <use href="./images/symbol-defs.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="footer__socials-item">
            <a href="" class="footer__socials-link link">
              <svg class="footer__socials-icon" width="9.35" height="20.4">
                <use href="./images/symbol-defs.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__contacts">
        <p class="footer__contacts-text">Feel free to contact</p>
        <a class="footer__contacts-tel link" href="tel:+61(0)383766284"
          >+61 (0) 383 766 284</a
        >
      </div>
      <div class="footer__bottom">
        <p class="footer__bottom-copy">
          &copy; 2022 - IceCream. All Rights Reserved.
        </p>
      </div>
    </div>
  </div>
</footer>
