<footer class="footer" id="footer">
  <div class="container-center container-footer">
    <div class="footer__flex">
      <div class="footer__title">
        <h2 class="footer__title-text">homemade ice cream made</h2>
        <p class="text-accent">with passion</p>
      </div>
      <div class="footer__social-contacts">
        <div class="footer__socials">
          <div class="footer__socials-list">
            <a
              class="social__link link"
              href="https://github.com/Lefter011/command-project-icecream"
              target="_blank"
              rel="noopener nofollow noreferrer"
            >
              <svg class="social__icon" width="34" height="34">
                <use href="./images/svg/project-sprite.svg#icon-github"></use>
              </svg>
            </a>
            <a
              class="social__link link"
              href="https://www.telegram.org/"
              target="_blank"
              rel="noopener nofollow noreferrer"
            >
              <svg class="social__icon" width="34" height="34">
                <use href="./images/svg/project-sprite.svg#icon-telegram"></use>
              </svg>
            </a>
            <a
              class="social__link link"
              href="https://www.facebook.com/"
              target="_blank"
              rel="noopener nofollow noreferrer"
            >
              <svg class="social__icon" width="34" height="34">
                <use href="./images/svg/project-sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="footer__contacts">
          <p class="footer__contacts-text">Feel free to contact</p>
          <a class="footer__contacts-tel link" href="tel:+61(0)383766284"
            >+61 (0) 383 766 284</a
          >
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <h2 class="footer__bottom-copy">&copy; 2022 - IceCream.</h2>
      <p class="footer__bottom-all">All Rights Reserved.</p>
    </div>
  </div>
</footer>
