<div class="container-center ">
    <div class="gallery">
        <div class="gallery__item">
            <picture>
                <source srcset="./images/gallery/gallery.3x.jpg" media="(min-width: 1200px)">
                <source srcset="./images/gallery/gallery.2x.jpg" media="(min-width: 768px)">
            </picture>
            <img src="./images/gallery/gallery.jpg" alt="ice-cream in dishes" >
        </div>
        <div class="gallery__item">
            <picture>
                <source srcset="./images/gallery/gallery.3x-1.jpg" media="(min-width: 1200px)">
                <source srcset="./images/gallery/gallery.2x-1.jpg" media="(min-width: 768px)">
            </picture>
            <picture>
                <source srcset="./images/gallery/gallery.3x-2.jpg" media="(min-width: 1200px)">
                <source srcset="./images/gallery/gallery.2x-2.jpg" media="(min-width: 768px)">
            </picture>
            <img src="./images/gallery/gallery-1.jpg" alt="ice-cream in hand" >
            <img src="./images/gallery/gallery-2.jpg" alt="raspberry ice-cream" >
        </div>
        <div class="gallery__item">
            <div>
                <picture>
                    <source srcset="./images/gallery/gallery.3x-3.jpg" media="(min-width: 1200px)">
                    <source srcset="./images/gallery/gallery.2x-3.jpg" media="(min-width: 768px)">
                 </picture>
                <img src="./images/gallery/gallery-3.jpg" alt="blueberry ice-cream " width="90">
            </div>
            <div>
                <picture>
                   <source srcset="./images/gallery/gallery.3x-4.jpg" media="(min-width: 1200px)">
                   <source srcset="./images/gallery/gallery.2x-4.jpg" media="(min-width: 768px)">
                </picture>
                <img src="./images/gallery/gallery-4.jpg" alt="girl with ice-cream" >
            </div>
        </div>
        <div class="gallery__item">
            <picture>
                <source srcset="./images/gallery/gallery.3x-5.jpg" media="(min-width: 1200px)">
                <source srcset="./images/gallery/gallery.2x-5.jpg" media="(min-width: 768px)">
            </picture>
            <picture>
                <source srcset="./images/gallery/gallery.3x-6.jpg" media="(min-width: 1200px)">
                <source srcset="./images/gallery/gallery.2x-6.jpg" media="(min-width: 768px)">
            </picture>
            <img src="./images/gallery/gallery-5.jpg" alt="ice cream salad">
            <img src="./images/gallery/gallery-6.jpg" alt="orange ice cream in hand" >
            </div>
        <div class="gallery__item">
            <picture>
                <source srcset="./images/gallery/gallery.3x-7.jpg" media="(min-width: 1200px)">
                <source srcset="./images/gallery/gallery.2x-7.jpg" media="(min-width: 768px)">
            </picture>
            <picture>
                <source srcset="./images/gallery/gallery.3x-8.jpg" media="(min-width: 1200px)">
                <source srcset="./images/gallery/gallery.2x-8.jpg" media="(min-width: 768px)">
            </picture>
            <img src="./images/gallery/gallery-7.jpg" alt="dog like ice-cream" width="44">
            <img src="./images/gallery/gallery-8.jpg" alt="chocolate milkshake with ice cream" >
        </div>
        <div class="gallery__item">
            <picture>
                <source srcset="./images/gallery/gallery.3x-9.jpg" media="(min-width: 1200px)">
                <source srcset="./images/gallery/gallery.2x-9.jpg" media="(min-width: 768px)">
            </picture>
            <img src="./images/gallery/gallery-9.jpg" alt="ice-cream cocktail" >
        </div>
    </div>
</div>