<section class="gallery-section" id="gallery">
  <h2 class="visually-hidden">Ice-cream gallery</h2>
  <div class="container-center gallery">
    <div class="gallery__wrapper">
      <div class="gallery__list-one">
        <img
          srcset="
            ./images/gallery/gallery.jpg     480w,
            ./images/gallery/gallery.2x.jpg  768w,
            ./images/gallery/gallery.3x.jpg 1200w
          "
          sizes="(max-width: 44px) 768px,
          (max-width: 105px) 1200px"
          src="./images/gallery/gallery.jpg"
          class="gallery__image-one"
          alt="ice-cream in dishes"
        />
      </div>
      <div class="gallery__list-two">
        <img
          srcset="
            ./images/gallery/gallery-1.jpg     480w,
            ./images/gallery/gallery.2x-1.jpg  768w,
            ./images/gallery/gallery.3x-1.jpg 1200w
          "
          sizes="(max-width: 44px) 768px,
          (max-width: 105px) 1200px"
          src="./images/gallery/gallery-1.jpg"
          class="gallery__image-two"
          alt="ice-cream in hand"
        />
        <img
          srcset="
            ./images/gallery/gallery-2.jpg     480w,
            ./images/gallery/gallery.2x-2.jpg  768w,
            ./images/gallery/gallery.3x-2.jpg 1200w
          "
          sizes="(max-width: 44px) 768px,
          (max-width: 105px) 1200px"
          src="./images/gallery/gallery-2.jpg"
          class="gallery__image-three"
          alt="raspberry ice-cream"
        />
      </div>
      <div class="gallery__list-three">
        <img
          srcset="
            ./images/gallery/gallery-3.jpg     480w,
            ./images/gallery/gallery.2x-3.jpg  768w,
            ./images/gallery/gallery.3x-3.jpg 1200w
          "
          sizes="(max-width: 44px) 768px,
          (max-width: 105px) 1200px"
          src="./images/gallery/gallery-3.jpg"
          class="gallery__image-four"
          alt="blueberry ice-cream "
        />
        <img
          srcset="
            ./images/gallery/gallery-4.jpg     480w,
            ./images/gallery/gallery.2x-4.jpg  768w,
            ./images/gallery/gallery.3x-4.jpg 1200w
          "
          sizes="(max-width: 44px) 768px,
          (max-width: 105px) 1200px"
          src="./images/gallery/gallery-4.jpg"
          class="gallery__image-five"
          alt="girl with ice-cream"
        />
      </div>
      <div class="gallery__list-four">
        <img
          srcset="
            ./images/gallery/gallery-5.jpg     480w,
            ./images/gallery/gallery.2x-5.jpg  768w,
            ./images/gallery/gallery.3x-5.jpg 1200w
          "
          sizes="(max-width: 44px) 768px,
          (max-width: 105px) 1200px"
          src="./images/gallery/gallery-5.jpg"
          class="gallery__image-six"
          alt="ice cream salad"
        />
        <img
          srcset="
            ./images/gallery/gallery-6.jpg     480w,
            ./images/gallery/gallery.2x-6.jpg  768w,
            ./images/gallery/gallery.3x-6.jpg 1200w
          "
          sizes="(max-width: 44px) 768px,
          (max-width: 105px) 1200px"
          src="./images/gallery/gallery-6.jpg"
          class="gallery__image-seven"
          alt="orange ice cream in hand"
        />
      </div>
      <div class="gallery__list-five">
        <img
          srcset="
            ./images/gallery/gallery-7.jpg     480w,
            ./images/gallery/gallery.2x-7.jpg  768w,
            ./images/gallery/gallery.3x-7.jpg 1200w
          "
          sizes="(max-width: 44px) 768px,
          (max-width: 105px) 1200px"
          src="./images/gallery/gallery-7.jpg"
          class="gallery__image-eight"
          alt="dog like ice-cream"
        />
        <img
          srcset="
            ./images/gallery/gallery-8.jpg     480w,
            ./images/gallery/gallery.2x-8.jpg  768w,
            ./images/gallery/gallery.3x-8.jpg 1200w
          "
          sizes="(max-width: 44px) 768px,
          (max-width: 105px) 1200px"
          src="./images/gallery/gallery-8.jpg"
          class="gallery__image-nine"
          alt="chocolate milkshake with ice cream"
        />
      </div>
      <div class="gallery__list-six">
        <img
          srcset="
            ./images/gallery/gallery-9.jpg     480w,
            ./images/gallery/gallery.2x-9.jpg  768w,
            ./images/gallery/gallery.3x-9.jpg 1200w
          "
          sizes="(max-width: 44px) 768px,
          (max-width: 105px) 1200px"
          src="./images/gallery/gallery-9.jpg"
          class="gallery__image-ten"
          alt="ice-cream cocktail"
        />
      </div>
    </div>
  </div>
</section>
