<div class="backdrop backdrop--is-hidden" data-modal>
  <div class="modal-content">
    <button class="modal-content__button" data-modal-close>
      <svg class="modal-content__icon" width="18" height="18">
        <use href="./images/svg/project-sprite.svg#modal-close"></use>
      </svg>
    </button>
    <form class="feedback" autocomplete="off">
      <p class="feedback__text">
        Please leave a request and we will call you back.
      </p>
      <label class="feedback__label">
        <span class="feedback__part">Name</span>
        <input
          class="feedback__input"
          type="text"
          name="name"
          minlength="2"
          required
        />
        <svg class="feedback__icon" width="18" height="18">
          <use href="./images/svg/project-sprite.svg#person"></use>
        </svg>
      </label>
      <label class="feedback__label">
        <span class="feedback__part">Phone</span>
        <input class="feedback__input" type="tel" name="tel" required />
        <svg class="feedback__icon" width="18" height="18">
          <use href="./images/svg/project-sprite.svg#phone"></use>
        </svg>
      </label>
      <label class="feedback__label">
        <span class="feedback__part">E-mail</span>
        <input class="feedback__input" type="email" name="mail" required />
        <svg class="feedback__icon" width="18" height="18">
          <use href="./images/svg/project-sprite.svg#email"></use>
        </svg>
      </label>
      <label class="feedback__comment">
        <span class="feedback__part">Comment</span>
        <textarea
          class="feedback__message"
          name="comment"
          cols="20"
          rows="6"
          placeholder="Enter your comment"
        ></textarea>
      </label>
      <label class="feedback__accord">
        <input
          class="form__checkbox visually-hidden"
          type="checkbox"
          name="accord"
        />
        <span class="feedback__field"></span>
        <span class="feedback__consent"
          >I agree to the newsletter and accept the
          <a href="#" class="feedback__link"> Terms of Agreement</a></span
        >
      </label>
      <button class="button feedback__button" type="submit">Send</button>
    </form>
  </div>
</div>
