.footer {
  background-color: $color-footer;
}

.footer-flex {
  align-items: baseline;
  display: inline-flex;
  margin: 0;
  padding: 0px;
  list-style: none;
}

.footer__title-text {
  font-family: $second-font;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $color-secondary;
}

.text-accent {
  font-family: $second-font;
  font-weight: 400;
  font-size: 58px;
  line-height: 1.14;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $color-hover;
}

.footer__socials-list {
  display: inline-flex;
}

.footer__socials-item {
  width: 34px;
  height: 34px;
  margin-right: 37px;
  cursor: pointer;
  &:last-child {
    margin-right: 0;
  }
}

.footer__social-link {
  width: 34px;
  height: 34px;
  display: inline;
  gap: 37px;
  background-color: $color-social;
}

.footer__contacts {
  display: inline-flex;
}

.footer__contacts-text {
  font-family: $main-font;
  font-weight: 700;
  font-size: 16px;
  line-height: 186%;
  letter-spacing: 0.02em;
  color: $color-black;
  padding-right: 5px;
}

.footer__contacts-tel {
  font-family: $main-font;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 186%;
  letter-spacing: 0.02em;
  color: $color-hover;
}

.footer__bottom {
  display: block;
  text-align: center;
  // align-items: center;
  // justify-content: center;
  border-top: 1px solid $color-border;
  @media (min-width: 768px) {
    display: flex;
    justify-content: center;
  }
  // &::before {
  //   content: '';
  //   display: block;
  //   position: absolute;
  //   width: 100%;
  //   height: 0px;
  //   background-color: $color-border;
  //   border: 1px solid $color-border;
  //   margin-bottom: 30px;
}

.footer__bottom-copy {
  font-family: $main-font;
  font-weight: 700;
  font-size: 14px;
  line-height: 186%;
  letter-spacing: 0.02em;
  color: $color-contact;
}

.footer__bottom-all {
  font-family: $main-font;
  font-weight: 700;
  font-size: 14px;
  line-height: 186%;
  letter-spacing: 0.02em;
  color: $color-contact;
}
