.menu-button {
  width: 30px;
  height: 30px;
  padding: 0;
  margin-left: auto;

  background-color: transparent;
  border: none;

  @extend %displayFlexCenter;
  @include for-size(desktop) {
    display: none;
  }
}

.menu-wrap {
  @media screen and (max-width: 1199px) {
    display: flex;
    position: fixed;
    flex-direction: column-reverse;
    justify-content: start;

    top: 0;
    left: 0;
    height: 100%;
    padding-top: 60px;
    transform: translateX(-100%);
    opacity: 0;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: $color-mobile-menu;
    
    @include for-size(phone) {
      width: 100vw;
    }
    @include for-size(tablet) {
      width: 294px;
    }
  }
  @include for-size(desktop) {
    display: flex;
  }
}
.menu-wrap.is-open {
  transform: translateX(0);
  opacity: 1;
}

.menu-button--on {
  color: $color-hover;
  transition-property: color;
  @extend %animation;
  &:hover,
  &:focus {
    color: $color-white;
  }
}
.menu-button--off {
  position: absolute;
  top: 20px;
  right: 20px;
  color: $color-white;
  transition-property: color;
  @extend %animation;
  &:hover,
  &:focus {
    color: $color-hover;
  }
}
.menu-button__icon {
  stroke: currentColor;
  fill: currentColor;
}
.menu-wrap__button {
  min-width: 209px;
  margin: 0 auto 20px auto;

  display: flex;
  justify-content: center;
  align-items: baseline;
  @include for-size(tablet) {
    min-width: 186px;
  }

  @include for-size(desktop) {
    display: none;
  }
}
